.discussion-results {
  &-item {
    width: 180px;
    max-height: 180px;
    border-radius: 5px;
    overflow: hidden;
    margin: 5px;
  }
  
  &-link {
    width: 100%;
    height: 100%;
  }
  
  &-image {
    object-fit: cover;
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
  }
}
