{% extends "layouts/root.html" %}

{% block rootContent %}
  <p>Hello, @user_full_name !</p>
  <p>Thank you for registering on archivizer.com.</p>
  <p>Your email is the login for signing in the online platform.</p>
  <p>Your password is: <strong>@password</strong></p>
  <p>The password was generated automatically. We recommend changing it to a more reliable and convenient one.To change the password, follow the link https://archivizer.com/profile/settings/password.</p>
  <p>Have a nice day!</p>
  <p>This message was created automatically. You can contact your team on the site.</p>
{% endblock %}